DB_URL=jdbc:mysql://localhost:3306/luxury_hotel?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=luxury-hotel
DB_PASSWORD=25112006
JWT_SECRET=VGhpc0lzQVNlY3VyZUJhc2U2NEtleUZvckx1eHVyeUhvdGVsQXBwMTIzNDU2Nzg5MDEyMzQ1Njc4OTA=
JWT_EXPIRATION_MINUTES=60
JWT_ISSUER=luxury-hotel
